


    <link rel="stylesheet" href="./styles/header.css">


<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo">
                <a href="#" title="">
                    <img src="https://cdn.rareblocks.xyz/collection/celebration/images/logo.svg" alt="Logo">
                </a>
            </div>

            <button type="button" class="menu-button" id="menu-button">
                <svg class="menu-icon-open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16"></path>
                </svg>
                <svg class="menu-icon-close" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>

            <nav class="nav-links" id="nav-links">
                <a href="/posts" class="nav-link">Blogs</a>
                <a href="/resources" class="nav-link">Resources</a>
                <a href="/category" class="nav-link">Category</a>
                <a href="/pricing" class="nav-link">Pricing</a>
            </nav>

            <a href="/signup" class="join-now-button" role="button">Join Now</a>
        </div>
    </div>
</header>