.header {
    background-color: rgba(252, 248, 241, 0.3);
    padding: 1rem 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 2rem;
}

.menu-button {
    display: inline-flex;
    padding: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-icon-open,
.menu-icon-close {
    width: 1.5rem;
    height: 1.5rem;
}

.menu-icon-close {
    display: none;
}

.nav-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(252, 248, 241, 0.9);
    padding: 1rem;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: black;
    transition: color 0.2s;
}

.nav-link:hover {
    color: rgba(0, 0, 0, 0.8);
}

.join-now-button {
    display: none;
    padding: 0.75rem 1.5rem;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 9999px;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s;
}

.join-now-button:hover,
.join-now-button:focus {
    background-color: #FFEB3B;
    color: black;
}

@media (min-width: 1024px){
    .menu-button {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: static;
        background-color: transparent;
        padding: 0;
        gap: 2rem;
    }
    .join-now-button {
        display: inline-flex;
    }

}